<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JS Quick Hits 19 - Import / Export</title>
  </head>
  <script type="module" src="javascripts/main.js"></script>
  <body>
    <div>
      <p id="reminder">Make sure to open your JavaScript console!</p>
    </div>
  </body>
</html>